/InterviewTask.Server/bin/Debug/net8.0
/InterviewTask.Server/Ckeys
/.vs
/interviewtask.client/.vscode
/interviewtask.client/obj/Debug
/interviewtask.client/package-lock.json
/InterviewTask.Server/obj
